## Yii
## assets/
.idea/
avatars/
images/
node_modules/
dest/
## protected/runtime/
## protected/vendors/
## protected/extensions/bootstrap/

## custom YY
*.zip
*.rar
*.tar
*.gz
*.gzip
*.pdf
*.jpg
#*.png
*.gif
*.psd
*.db
*.log

